{% load static %}
<div class="header">

    <div class="header-left">
        <a href="index.html" class="logo">
            <img src="{% static 'assets/img/download.png' %}" alt="Logo" style="object-fit: contain;">
        </a>
        <a href="index.html" class="logo logo-small">
            <img src="{% static 'assets/img/download.png' %}" alt="Logo" width="30" height="30">
        </a>
    </div>
    
    <div class="menu-toggle">
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    {% if request.user.user_type == "1" %}
    <div class="top-nav-search">
        <form method="POST" action="{% url "search" %}">
            {% csrf_token %}
            <input type="text" value="{{ param }}" name="search" class="form-control" placeholder="Search here">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    {% endif %}
    
    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>

    <ul class="nav user-menu">

        <li class="nav-item zoom-screen me-2">
            <a href="#" class="nav-link header-nav-list win-maximize">
                <img src="{% static 'assets/img/icons/header-icon-04.svg' %}" alt="">
            </a>
        </li>

        <li class="nav-item dropdown has-arrow new-user-menus">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="{{ user.profile_pic.url }}" width="31"
                        alt="User Image">
                    <div class="user-text">
                        <h6>{{ user.username|capfirst }}</h6>
                        <p class="text-muted mb-0">
                            {% if user.user_type == "1" %}
                            Admin
                            {% elif user.user_type == "2" %}
                            Trainer
                            {% else %}
                            Trainee
                            {% endif %}
                        </p>
                    </div>
                </span>
            </a>
            <div class="dropdown-menu">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img src="{{ user.profile_pic.url }}" alt="User Image"
                            class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">
                        <h6>{{ user.username|capfirst }}</h6>
                        <p class="text-muted mb-0">
                            {% if user.user_type == "1" %}
                            Admin
                            {% elif user.user_type == "2" %}
                            Trainer
                            {% else %}
                            Trainee
                            {% endif %}
                        </p>
                    </div>
                </div>
                <a class="dropdown-item" href="{% url 'profile' %}"><span class="fa fa-user"></span>My Profile Update</a>
                <a class="dropdown-item" href="{% url 'doLogout' %}"><span class="fas fa-sign-out-alt"></span>Logout </a>
            </div>
        </li>
    </ul>
</div>