{% load static %}
{% if user.user_type == "1" %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% if request.path == '/admin_home' %}active{% endif %}">
                    <a href="{% url "admin_home" %}" ><i class="fas fa-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="{% if request.path == '/add_trainer' %}active{% elif request.path == '/view_trainer' %}active{% endif %}">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Trainers</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "add_trainer" %}" class="{% if request.path == '/add_trainer' %}active{% endif %}"><span class="fas fa-plus"></span>Add Trainer</a></li>
                        <li><a href="{% url "view_trainer" %}" class="{% if request.path == '/view_trainer' %}active{% endif %}"><span class="fas fa-table"></span>View Trainer</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/add_trainee' %}active{% elif request.path == '/view_trainee' %}active{% endif %}">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Trainee</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "add_trainee" %}" class="{% if request.path == '/add_trainee' %}active{% endif %}"><span class="fas fa-plus"></span>Add Trainee</a></li>
                        <li><a href="{% url "view_trainee" %}" class="{% if request.path == '/view_trainee' %}active{% endif %}"><span class="fas fa-table"></span>View Trainee</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/assign_trainer' %}active{% endif %}">
                    <a href="{% url "assign_trainer" %}" ><i class="fas fa-clipboard"></i> <span>Assign Trainer</span></a>
                </li>

                <li>
                    <a href="{% url "doLogout" %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% if user.user_type == "2" %}

{% endif %}