{% load static %}
{% if request.user.user_type == "1" %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% if request.path == '/admin_home' %}active{% endif %}">
                    <a href="{% url "admin_home" %}" ><i class="fas fa-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="{% if request.path == '/add_trainer' %}active{% elif request.path == '/view_trainer' %}active{% endif %}">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Trainers</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "add_trainer" %}" class="{% if request.path == '/add_trainer' %}active{% endif %}"><span class="fas fa-plus"></span>Add Trainer</a></li>
                        <li><a href="{% url "view_trainer" %}" class="{% if request.path == '/view_trainer' %}active{% endif %}"><span class="fas fa-table"></span>View Trainer</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/add_trainee' %}active{% elif request.path == '/view_trainee' %}active{% endif %}">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span>Trainee</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "add_trainee" %}" class="{% if request.path == '/add_trainee' %}active{% endif %}"><span class="fas fa-plus"></span>Add Trainee</a></li>
                        <li><a href="{% url "view_trainee" %}" class="{% if request.path == '/view_trainee' %}active{% endif %}"><span class="fas fa-table"></span>View Trainee</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/add_course' %}active{% elif request.path == '/view_course' %}active{% endif %}">
                    <a href="#"><i class="fas fa-layer-group"></i> <span>Course</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "add_course" %}" class="{% if request.path == '/add_course' %}active{% endif %}"><span class="fas fa-plus"></span>Add Course</a></li>
                        <li><a href="{% url "view_course" %}" class="{% if request.path == '/view_course' %}active{% endif %}"><span class="fas fa-table"></span>View Course</a></li>
                    </ul>
                </li>

                <li class="{% if '/manage_skills' in request.path %}active{% endif %}">
                    <a href="{% url "manage_skills" %}" ><i class="fas fa-cogs"></i> <span>Manage Skills</span></a>
                </li>

                <li class="{% if request.path == '/assign_trainer' %}active{% endif %}">
                    <a href="{% url "assign_trainer" %}" ><i class="fas fa-clipboard"></i> <span>Assign Trainer</span></a>
                </li>

                <li class="{% if request.path == '/assign_trainee' %}active{% endif %}">
                    <a href="{% url "assign_trainee" %}" ><i class="fas fa-clipboard"></i> <span>Assign Trainee</span></a>
                </li>

                <li class="{% if request.path == '/mark_attendance' %}active{% elif request.path == '/view_attendance' %}active{% endif %}">
                    <a href="#"><i class="fas fa-tags"></i> <span>Attendance</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <!-- <li><a href="{% url "mark_attendance" %}" class="{% if request.path == '/mark_attendance' %}active{% endif %}"><span class="fas fa-tasks"></span>Mark Attendance</a></li> -->
                        <li><a href="{% url "view_attendance" %}" class="{% if request.path == '/view_attendance' %}active{% endif %}"><span class="fas fa-chart-area"></span>View Attendance</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/mark_presentation' %}active{% elif request.path == '/view_presentation' %}active{% endif %}">
                    <a href="#"><i class="fas fa-braille"></i> <span>Presentation</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "mark_presentation" %}" class="{% if request.path == '/mark_presentation' %}active{% endif %}"><span class="fas fa-check"></span>Mark Presentation</a></li>
                        <li><a href="{% url "view_presentation" %}" class="{% if request.path == '/view_presentation' %}active{% endif %}"><span class="fas fa-chart-area"></span>View Presentation</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/send_announcement' %}active{% elif request.path == '/view_announcement' %}active{% endif %}">
                    <a href="#"><i class="fa fa-bell"></i> <span>Announcement</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "send_announcement" %}" class="{% if request.path == '/send_announcement' %}active{% endif %}"><span class="fas fa-volume-up"></span>Send Announcement</a></li>
                        <li><a href="{% url "view_announcement" %}" class="{% if request.path == '/view_announcement' %}active{% endif %}"><span class="fas fa-align-left"></span>View Announcement</a></li>
                    </ul>
                </li>

                <li class="{% if '/curriculum' in request.path %}active{% endif %}">
                    <a href="#" ><i class="fas fa-book-reader"></i> <span>Curriculum</span></a>
                </li>

                <li class="{% if '/payment' in request.path %}active{% endif %}">
                    <a href="{% url "payment" %}" ><i class="fas fa-money-bill-wave"></i> <span>Payment</span></a>
                </li>

                <li class="{% if request.path == '/invite_admin' %}active{% endif %}">
                    <a href="{% url "invite_admin" %}" ><i class="fas fa-user-plus"></i> <span>Invite Admin</span></a>
                </li>

                <li>
                    <a style="color: red;" href="{% url "doLogout" %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% if request.user.user_type == "2" %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% if request.path == '/trainer_home' %}active{% endif %}">
                    <a href="{% url "trainer_home" %}" ><i class="fas fa-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="{% if request.path == '/mark_attendance' %}active{% elif request.path == '/view_attendance' %}active{% endif %}">
                    <a href="#"><i class="fas fa-tags"></i> <span>Attendance</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "mark_attendance" %}" class="{% if request.path == '/mark_attendance' %}active{% endif %}"><span class="fas fa-tasks"></span>Mark Attendance</a></li>
                        <li><a href="{% url "view_attendance" %}" class="{% if request.path == '/view_attendance' %}active{% endif %}"><span class="fas fa-chart-area"></span>View Attendance</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/mark_presentation' %}active{% elif request.path == '/view_presentation' %}active{% endif %}">
                    <a href="#"><i class="fas fa-braille"></i> <span>Presentation</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "mark_presentation" %}" class="{% if request.path == '/mark_presentation' %}active{% endif %}"><span class="fas fa-check"></span>Mark Presentation</a></li>
                        <li><a href="{% url "view_presentation" %}" class="{% if request.path == '/view_presentation' %}active{% endif %}"><span class="fas fa-chart-area"></span>View Presentation</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/upload_assignment' %}active{% elif request.path == '/view_submissions' %}active{% endif %}">
                    <a href="#"><i class="fas fa-tags"></i> <span>Assignment</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "upload_assignment" %}" class="{% if request.path == '/upload_assignment' %}active{% endif %}"><span class="fas fa-tasks"></span>Upload Assignment</a></li>
                        <li><a href="{% url "view_upload_assignment" %}" class="{% if request.path == '/view_upload_assignment' %}active{% endif %}"><span class="fas fa-tasks"></span>View Uploaded Assignment</a></li>
                        <li><a href="{% url "view_submissions" %}" class="{% if request.path == '/view_submissions' %}active{% endif %}"><span class="fas fa-chart-area"></span>View Submissions</a></li>
                    </ul>
                </li>

                <li class="{% if '/trainer_curriculum' in request.path %}active{% endif %}">
                    <a href="#" ><i class="fas fa-book-reader"></i> <span>Curriculum</span></a>
                </li>

                <li class="{% if request.path == '/trainer_payment' %}active{% endif %}">
                    <a href="{% url "view_submissions" %}" ><i class="fas fa-money-bill-wave"></i> <span>Payment</span></a>
                </li>

                <li>
                    <a style="color: red;" href="{% url "doLogout" %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% if request.user.user_type == "3" %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="{% if request.path == '/trainee_home' %}active{% endif %}">
                    <a href="{% url "trainee_home" %}" ><i class="fas fa-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="{% if request.path == '/view_assignments' %}active{% endif %}">
                    <a href="{% url "view_assignments" %}"><i class="fas fa-tags"></i> <span>Assignment</span></a>
                </li>
                
                <li class="{% if request.path == '/view_trainee_presentation' %}active{% elif request.path == '/upload_presentation_trainee' %}active{% endif %}">
                    <a href="#"><i class="fas fa-braille"></i> <span>Presentation</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "upload_presentation_trainee" %}" class="{% if request.path == '/upload_presentation_trainee' %}active{% endif %}"><span class="fas fa-tasks"></span>Upload Presentaion</a></li>
                        <li><a href="{% url "view_trainee_presentation" %}" class="{% if request.path == '/view_trainee_presentation' %}active{% endif %}"><span class="fas fa-columns"></span>View Presentation Report</a></li>
                    </ul>
                </li>

                <li class="{% if request.path == '/view_trainee_attendance' %}active{% endif %}">
                    <a href="{% url "view_trainee_attendance" %}"><i class="fas fa-tasks"></i> <span>View Attendance Report</span></a>
                </li>
                
                <li class="{% if request.path == '/payment_plan' or request.path == '/payment_notifications' %}active{% endif %}">
                    <a href="#"><i class="fas fa-money-bill-wave"></i> <span>Payment</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url "view_payment_plan" %}" class="{% if request.path == '/payment_plan' %}active{% endif %}"><span class="fas fa-credit-card"></span>Payment Plan</a></li>
                        <li><a href="{% url "payment_notifications_settings" %}" class="{% if request.path == '/payment_notifications' %}active{% endif %}"><span class="fas fa-bell"></span>Notification Settings</a></li>
                    </ul>
                </li>

                <li class="{% if '/trainee_view_curriculum' in request.path %}active{% endif %}">
                    <a href="#" ><i class="fas fa-book-reader"></i> <span>Curriculum</span></a>
                </li>

                <li>
                    <a style="color: red;" href="{% url "doLogout" %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
