{% extends "base.html" %}
{% block main_content %}
{% if request.user.user_type == "3" %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Submit Assignment</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Assignment</a></li> 
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <h5 class="form-title"><span>Assignment Details</span></h5>
                <p><strong>Title:</strong> {{ assignment.title }}</p>
                <p><strong>Description:</strong> {{ assignment.description }}</p>
                <p><strong>Due Date:</strong> {{ assignment.due_date }}</p>
                {% if assignment.file %}
                    <p><strong>Referrence File:</strong></p>
                    <a href="{{ assignment.file.url }}" target="_blank"><strong>View Attached File for Referrence</strong></a>
                {% endif %}
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "includes/messages.html" %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Your Answer</span></h5>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group">
                                <label>Your Answer (Text or Link)</label>
                                <textarea name="answer_text" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <label>Upload Files (Optional: PDF, Image, Video)</label>
                                <input type="file" name="answer_file" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Submit Assignment</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}