{% extends "base.html" %}

{% block main_content %}
{% if request.user.user_type == "1" %}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Trainees</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'view_trainee' %}">Trainees</a></li>
                    <li class="breadcrumb-item active">Add Trainee</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'add_trainee_save' %}">
                        {% csrf_token %}
                        {% include "includes/messages.html" %}
                        
                        <div class="row">
                            <!-- Basic Details Section -->
                            <div class="col-12">
                                <h5 class="form-title"><span>Personal Details</span></h5>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="first_name" placeholder="Enter First Name" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control" name="middle_name" placeholder="Enter Middle Name">
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="last_name" placeholder="Enter Last Name" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Gender</label>
                                    <select name="gender" class="form-control form-select" required>
                                        <option value="" disabled selected>Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Trainee Category</label>
                                    <select name="category" class="form-control form-select" required>
                                        <option value="" disabled selected>Select Trainee Category</option>
                                        <option value="Regular">Regular Trainee</option>
                                        <option value="SIWES">SIWES Intern</option>
                                        <option value="Extern">Extern</option>
                                        <option value="Triptern">Triptern</option>
                                        <option value="Bootcamp">Bootcamp Kid</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Username</label>
                                    <input type="text" class="form-control" name="username" placeholder="Enter Username" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password1" placeholder="Enter Password" required>
                                </div>
                            </div>

                            <center>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group students-up-files">
                                        <label>Upload Profile Photo (150px X 150px)</label>
                                        <div class="uplod">
                                            <label class="file-upload image-upbtn mb-0">
                                                Choose File <input type="file" accept="image/*" name="profile_pic">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </center>

                            <div class="col-12" id="select-siwes-head" style="display:none;">
                                <h5 class="form-title"><span>SIWES Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-7" id="select-siwes-intern" style="display:none;">
                                <div class="form-group local-forms">
                                    <label>Name of School</label>
                                    <input type="text" class="form-control" name="school_name" placeholder="Enter Name of School" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-5" id="select-siwes-intern2" style="display:none;">
                                <div class="form-group local-forms">
                                    <label>Course of Study</label>
                                    <input type="text" class="form-control" name="course_of_study" placeholder="Enter Course of Study" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6" id="select-siwes-intern3" style="display:none;">
                                <div class="form-group local-forms">
                                    <label>Matric Number</label>
                                    <input type="text" class="form-control" name="matric_number" placeholder="Enter Matric Number" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-5" id="select-siwes-intern4" style="display:none;">
                                <div class="form-group local-forms">
                                    <label>Duration of Internship</label>
                                    <input type="text" class="form-control" name="internship_duration" placeholder="Enter Duration of Internship" required>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <h5 class="form-title"><span>Address Information</span></h5>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>City</label>
                                    <input type="text" class="form-control" name="city" placeholder="Enter City">
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>State</label>
                                    <input type="text" class="form-control" name="state" placeholder="Enter State">
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Country</label>
                                    <input type="text" class="form-control" name="country" placeholder="Enter Country">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Address</label>
                                    <textarea class="form-control" name="address" placeholder="Enter Full Address" rows="3"></textarea>
                                </div>
                            </div>
                            
                            <!-- Course Selection Section -->
                            <div class="col-12">
                                <h5 class="form-title"><span>Course and Payment Option Selection</span></h5>
                            </div>
                            
                            <div class="col-12 col-sm-8">
                                <div class="form-group local-forms">
                                    <label>Select Course</label>
                                    <select name="course" class="form-control form-select" required>
                                        <option value="" selected disabled>Select a Course you would like to Study</option>
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">{{ course.course_name }} - ₦{{ course.price }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>

                            <div class="col-12 col-sm-8">
                                <div class="form-group local-forms">
                                    <label>Payment Option</label>
                                    <select name="payment" class="form-control form-select" required>
                                        <option value="" disabled selected>Select Payment Option</option>
                                        <option value="Full Payment">Full Payment</option>
                                        <option value="70% upfront and 30% later">70% upfront and 30% later</option>
                                        <option value="Monthly Payment">Monthly Payment</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Amount Paid</label>
                                    <input type="tel" name="amount_paid" class="form-control" placeholder="Amount Paid">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Date of Payment</label>
                                    <input type="date" name="date_of_payment" class="form-control" placeholder="Select Date of Payment">
                                </div>
                            </div>

                            <div class="col-12 col-sm-7">
                                <div class="form-group local-forms">
                                    <label>Commencement Date</label>
                                    <input type="date" class="form-control" name="commencement_date" placeholder="Enter Country" required>
                                </div>
                            </div>

                            <div class="col-12">
                                <h5 class="form-title"><span>Next of Kin</span></h5>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>First Name</label>
                                    <input type="text" name="next_first_name" class="form-control" placeholder="Enter Full Name" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Last Name</label>
                                    <input type="text" name="next_last_name" class="form-control" placeholder="Enter Full Name" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Email</label>
                                    <input type="email" name="next_email" class="form-control" placeholder="Enter Email" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-5">
                                <div class="form-group local-forms">
                                    <label>Phone</label>
                                    <input type="text" name="next_phone" class="form-control" placeholder="Enter Phone Number" required>
                                </div>
                            </div>
                            

                            <div class="col-12 col-sm-6">
                                <div class="form-group local-forms">
                                    <label>Relation</label>
                                    <input type="email" name="relation" class="form-control" placeholder="Enter Relationship" required>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Add Trainee</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get references to the select elements
            const courseSelect = document.querySelector('select[name="course"]');
            const paymentSelect = document.querySelector('select[name="payment"]');
            const traineeCategorySelect = document.querySelector('select[name="category"]');
            const siwesSectionHead = document.getElementById('select-siwes-head');
            const siwesSection = document.getElementById('select-siwes-intern');
            const siwesSection2 = document.getElementById('select-siwes-intern2');
            const siwesSection3 = document.getElementById('select-siwes-intern3');
            const siwesSection4 = document.getElementById('select-siwes-intern4');

            // Create a display area for payment info, styled professionally
            let paymentInfo = document.createElement('div');
            paymentInfo.id = 'payment-info';
            paymentInfo.className = 'alert alert-info mt-3';
            paymentInfo.style.display = 'none';

            // Insert paymentInfo directly below the Payment Option select field
            const paymentFormGroup = paymentSelect.closest('.form-group');
            paymentFormGroup.appendChild(paymentInfo);

            // Store course data for quick lookup
            let courseData = {};
            {% for course in courses %}
                courseData["{{ course.id }}"] = {
                    price: {{ course.price|floatformat:2 }},
                    months: {{ course.months|default:1 }}
                };
            {% endfor %}

            function formatCurrency(amount) {
                return '₦' + Number(amount).toLocaleString('en-NG', {minimumFractionDigits: 2, maximumFractionDigits: 2});
            }

            function updatePaymentInfo() {
                const courseId = courseSelect.value;
                const paymentOption = paymentSelect.value;
                paymentInfo.innerHTML = '';
                paymentInfo.style.display = 'none';

                if (!courseId || !paymentOption) {
                    return;
                }

                const course = courseData[courseId];
                if (!course) {
                    paymentInfo.innerHTML = '<span style="color: #e74c3c;">Invalid course selection.</span>';
                    paymentInfo.style.display = 'block';
                    return;
                }

                const price = parseFloat(course.price);
                // Always get months from the selected course
                let months = parseInt(course.months);
                if (isNaN(months) || months <= 0) months = 1;

                if (paymentOption === 'Full Payment') {
                    paymentInfo.innerHTML = `
                        <i class="fas fa-money-bill-wave"></i>
                        <strong>Full Payment:</strong> The total amount to be paid is <span style="color:#155724;">${formatCurrency(price)}</span>.
                    `;
                } else if (paymentOption === '70% upfront and 30% later') {
                    const upfront = price * 0.7;
                    const later = price * 0.3;
                    paymentInfo.innerHTML = `
                        <i class="fas fa-coins"></i>
                        <strong>70% Upfront, 30% Later:</strong><br>
                        Pay <span style="color:#155724;">${formatCurrency(upfront)}</span> now (70%)<br>
                        and <span style="color:#856404;">${formatCurrency(later)}</span> later (30%).
                    `;
                } else if (paymentOption === 'Monthly Payment') {
                    if (months <= 0) {
                        paymentInfo.innerHTML = '<span style="color: #e67e22;">Course duration not specified for monthly payment.</span>';
                    } else {
                        const monthly = price / months;
                        paymentInfo.innerHTML = `
                            <i class="fas fa-calendar-alt"></i>
                            <strong>Monthly Payment:</strong><br>
                            Pay <span style="color:#155724;">${formatCurrency(monthly)}</span> per month for <strong>${months}</strong> month(s).<br>
                            <span>Total: ${formatCurrency(price)}</span>
                        `;
                    }
                }
                paymentInfo.style.display = 'block';
            }

            courseSelect.addEventListener('change', updatePaymentInfo);
            paymentSelect.addEventListener('change', updatePaymentInfo);

            // SIWES Intern section show/hide logic
            traineeCategorySelect.addEventListener('change', function() {
                if (traineeCategorySelect.value === 'SIWES') {
                    siwesSectionHead.style.display = 'block'
                    siwesSection.style.display = 'block';
                    siwesSection2.style.display = 'block';
                    siwesSection3.style.display = 'block';
                    siwesSection4.style.display = 'block';
                } else {
                    siwesSection.style.display = 'none';
                    siwesSection2.style.display = 'none';
                    siwesSection3.style.display = 'none';
                    siwesSection4.style.display = 'none';
                }
            });
            // On page load, check if SIWES is selected
            if (traineeCategorySelect.value === 'SIWES') {
                siwesSection.style.display = 'block';
            } else {
                siwesSection.style.display = 'none';
            }
        });
    </script>
{% endif %}
{% endblock main_content %}