{% extends "base.html" %}
{% load static %}

{% block main_content %}
    {% if request.user.user_type == "1" %}
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title"><i class="fas fa-user-plus me-2 text-primary"></i>Add Trainers</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'view_trainer' %}"><i class="fas fa-users me-1"></i>Trainers</a>
                        </li>
                        <li class="breadcrumb-item active">Add Trainer</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Form Container -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'add_trainer_save' %}">
                            {% csrf_token %}
                            {% include "includes/messages.html" %}
                            
                            <div class="row">
                                <!-- Basic Details Section -->
                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Personal Details</span>
                                    </h5>
                                </div>

                                <!-- First Name -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>First Name</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="first_name" 
                                               placeholder="Enter First Name" 
                                               required>
                                    </div>
                                </div>

                                <!-- Middle Name -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Middle Name</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="middle_name" 
                                               placeholder="Enter Middle Name">
                                    </div>
                                </div>

                                <!-- Last Name -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Last Name</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="last_name" 
                                               placeholder="Enter Last Name" 
                                               required>
                                    </div>
                                </div>

                                <!-- Gender -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Gender</label>
                                        <select class="form-control form-select" 
                                                aria-hidden="true" 
                                                name="gender">
                                            <option disabled selected hidden required>Select Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Mobile -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Mobile</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="phone" 
                                               placeholder="Enter Phone">
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Birthday</label>
                                        <input type="date" name="birthday" class="form-control" required>
                                    </div>
                                </div>
                                <p>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Username</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="username" 
                                               placeholder="Enter Username" 
                                               required>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Email</label>
                                        <input type="email" 
                                               class="form-control" 
                                               name="email" 
                                               placeholder="Enter Email" 
                                               required>
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Password</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="password1" 
                                               placeholder="Enter Password" 
                                               required>
                                    </div>
                                </div>

                                <p>
                                <!-- Experience -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group local-forms">
                                        <label>Skill Expertise</label>
                                        <textarea class="form-control" name="experience" placeholder="Enter Expertise" rows="5" cols="5"></textarea>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group local-forms">
                                        <label>Competent Skills</label>
                                        <textarea class="form-control" name="competent_skills" placeholder="Enter Competent Skills" rows="5" cols="5"></textarea>
                                    </div>
                                </div>

                                <center>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group students-up-files">
                                            <label>Upload Trainer Photo (150px X 150px)</label>
                                            <div class="uplod">
                                                <label class="file-upload image-upbtn mb-0">
                                                    <i class="fas fa-upload me-2"></i>Choose File
                                                    <input type="file" accept="image/*" name="profile_pic">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </center>

                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Payment Details</span>
                                    </h5>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Account Number</label>
                                        <input type="text" name="account_no" placeholder="Enter Account Number" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Bank</label>
                                        <input type="text" name="bank" class="form-control" placeholder="Enter Bank Name" required>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Commission Rate</label>
                                        <input type="text" name="commission_rate" class="form-control" placeholder="e.g 70% or 40%" required>
                                    </div>
                                </div>

                                <!-- Address Section -->
                                <div class="col-12">
                                    <h5 class="form-title">
                                        <span>Address</span>
                                    </h5>
                                </div>

                                <!-- City -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>City</label>
                                        <input type="text" class="form-control" name="city" placeholder="Enter City">
                                    </div>
                                </div>

                                <!-- State -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>State</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="state" 
                                               placeholder="Enter State">
                                    </div>
                                </div>

                                <!-- Country -->
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label>Country</label>
                                        <input type="text" 
                                               class="form-control" 
                                               name="country" 
                                               placeholder="Enter Country">
                                    </div>
                                </div>

                                <!-- Address -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group local-forms">
                                        <label>Address</label>
                                        <textarea class="form-control" name="address" placeholder="Enter Full Address" rows="5" cols="5"></textarea>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-12">
                                    <div class="student-submit">
                                        <button type="submit" class="btn btn-primary">
                                            Add Trainer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock main_content %}