{% extends "base.html" %}
{% load static %}

{% block main_content %}
{% if request.user.user_type == "1" %}

<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title"><i class="fas fa-user-edit me-2 text-primary"></i>Edit Trainee: <span class="text-dark">{{ trainee.trainee_name.first_name|capfirst }} {{ trainee.trainee_name.last_name|capfirst }}</span></h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'view_trainee' %}"><i class="fas fa-users me-1"></i>Trainees</a></li>
                <li class="breadcrumb-item active">Edit / {{ trainee.trainee_name.username|capfirst }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card shadow-lg border-0">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "includes/messages.html" %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Personal Details</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>First Name </label>
                                <input type="text" class="form-control" name="first_name" placeholder="Edit First Name" value="{{ trainee.trainee_name.first_name|capfirst }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" name="middle_name" placeholder="Edit Middle Name" value="{{ trainee.trainee_name.middle_name|capfirst }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Edit Last Name" value="{{ trainee.trainee_name.last_name|capfirst }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Gender </label>
                                <select class="form-control form-select" aria-hidden="true" name="gender">
                                    <option disabled selected hidden>Select Gender</option>
                                    <option value="Male" {% if trainee.gender == 'Male' %}selected{% endif %}>Male</option>
                                    <option value="Female" {% if trainee.gender == "Female" %}selected{% endif %}>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Mobile </label>
                                <input type="text" class="form-control" name="phone" placeholder="Edit Phone" value="{{ trainee.phone }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Trainee Category</label>
                                <select name="category" class="form-control form-select" required>
                                    <option value="" disabled selected>Select Trainee Category</option>
                                    <option value="Regular" {% if trainee.category == 'Regular' %}selected{% endif %}>Regular Trainee</option>
                                    <option value="SIWES" {% if trainee.category == 'SIWES' %}selected{% endif %}>SIWES Intern</option>
                                    <option value="Extern" {% if trainee.category == 'Extern' %}selected{% endif %}>Extern</option>
                                    <option value="Triptern" {% if trainee.category == 'Triptern' %}selected{% endif %}>Triptern</option>
                                    <option value="Bootcamp" {% if trainee.category == 'Bootcamp' %}selected{% endif %}>Bootcamp Kid</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Username </label>
                                <input type="text" class="form-control" name="username" placeholder="Edit Username" value="{{ trainee.trainee_name.username|capfirst }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Edit Email" value="{{ trainee.trainee_name.email }}">
                            </div>
                        </div>
                        <center>
                            <div class="col-12 col-sm-6">
                                <div class="form-group students-up-files">
                                    <label>Current Profile Picture</label>
                                    <div class="uplod">
                                        <img src="{{ trainee.trainee_name.profile_pic.url }}" alt="Profile Picture" class="img-thumbnail" width="150px" height="150px">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group students-up-files">
                                    <label>Upload New Profile Picture (150px X 150px)</label>
                                    <div class="uplod">
                                        <label class="file-upload image-upbtn mb-0">
                                            <i class="fas fa-upload me-2"></i>Choose File <input type="file" accept="image/*" name="profile_pic">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </center>

                        <div class="col-12" id="select-siwes-head" style="display:none;">
                            <h5 class="form-title"><span>SIWES Details</span></h5>
                        </div>

                        <div class="col-12 col-sm-7" id="select-siwes-intern" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Name of School</label>
                                <input type="text" class="form-control" name="school_name" placeholder="Enter Name of School" value="{{ trainee.name_of_school }}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-5" id="select-siwes-intern2" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Course of Study</label>
                                <input type="text" class="form-control" name="course_of_study" placeholder="Enter Course of Study" value="{{ trainee.name_of_school }}" value="{{ trainee.name_of_school }}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6" id="select-siwes-intern3" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Matric Number</label>
                                <input type="text" class="form-control" name="matric_number" placeholder="Enter Matric Number" value="{{ trainee.name_of_school }}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-5" id="select-siwes-intern4" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Duration of Internship</label>
                                <input type="text" class="form-control" name="internship_duration" placeholder="Enter Duration of Internship" value="{{ trainee.name_of_school }}" required>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <h5 class="form-title"><span>Address</span></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>City </label>
                                <input type="text" class="form-control" name="city" placeholder="Edit City" value="{{ trainee.city }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>State </label>
                                <input type="text" class="form-control" name="state" placeholder="Edit State" value="{{ trainee.state }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Country </label>
                                <input type="text" class="form-control" name="country" placeholder="Edit Country" value="{{ trainee.country }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group local-forms">
                                <label>Address</label>
                                <textarea class="form-control" name="address" placeholder="Enter Full Address" rows="3">{{ trainee.address }}</textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            <h5 class="form-title"><span>Choice of Course</span></h5>
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="form-group local-forms">
                                <label>Select a Course</label>
                                <select name="course" class="form-control form-select" required>
                                    <option value="" selected disabled>Select a Course you would love to Study</option>
                                    {% for course in courses %}
                                    <option value="{{ course.id }}"{% if trainee.course_id.id == course.id %}selected{% endif %}>{{ course.course_name }}  ------  {{ course.price }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="form-group local-forms">
                                <label>Payment Option</label>
                                <select name="payment" class="form-control form-select" required>
                                    <option value="" disabled selected>Select Payment Option</option>
                                    <option value="Full Payment" {% if trainee.payment_option == 'Full Payment' %}selected{% endif %}>Full Payment</option>
                                    <option value="70% upfront and 30% later" {% if trainee.payment_option == '70% upfront and 30% later' %}selected{% endif %}>70% upfront and 30% later</option>
                                    <option value="Monthly Payment" {% if trainee.payment_option == 'Monthly Payment' %}selected{% endif %}>Monthly Payment</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group local-forms">
                                <label>Amount Paid</label>
                                <input type="tel" name="amount_paid" class="form-control" placeholder="Amount Paid" value="{{ trainee.amount_paid }}">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group local-forms">
                                <label>Date of Payment</label>
                                <input type="date" name="date_of_payment" class="form-control" placeholder="Select Date of Payment" value="{{ trainee.date_of_payment|date:'Y-m-d' }}">
                            </div>
                        </div>

                        <div class="col-12 col-sm-7">
                            <div class="form-group local-forms">
                                <label>Commencement Date</label>
                                <input type="date" class="form-control" name="commencement_date" placeholder="Enter Commencement Date" value="{{ trainee.commencement_date|date:'Y-m-d' }}" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <h5 class="form-title"><span>Next of Kin</span></h5>
                        </div>

                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>First Name</label>
                                <input type="text" name="next_first_name" class="form-control" placeholder="Enter First Name" value="{{ trainee.nok_first_name }}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Last Name</label>
                                <input type="text" name="next_last_name" class="form-control" placeholder="Enter Last Name" value="{{ trainee.nok_last_name }}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Email</label>
                                <input type="email" name="next_email" class="form-control" placeholder="Enter Email" value="{{ trainee.nok_email }}" required>
                            </div>
                        </div>
                        
                        <div class="col-12 col-sm-5">
                            <div class="form-group local-forms">
                                <label>Phone</label>
                                <input type="text" name="next_phone" class="form-control" placeholder="Enter Phone Number" value="{{ trainee.nok_phone }}" required>
                            </div>
                        </div>
                        

                        <div class="col-12 col-sm-6">
                            <div class="form-group local-forms">
                                <label>Relation</label>
                                <input type="email" name="relation" class="form-control" placeholder="Enter Relationship" value="{{ trainee.nok_relationship }}" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get references to the select elements
        const courseSelect = document.querySelector('select[name="course"]');
        const paymentSelect = document.querySelector('select[name="payment"]');
        const traineeCategorySelect = document.querySelector('select[name="category"]');
        const siwesSectionHead = document.getElementById('select-siwes-head');
        const siwesSection = document.getElementById('select-siwes-intern');
        const siwesSection2 = document.getElementById('select-siwes-intern2');
        const siwesSection3 = document.getElementById('select-siwes-intern3');
        const siwesSection4 = document.getElementById('select-siwes-intern4');

        // Create a display area for payment info, styled professionally
        let paymentInfo = document.createElement('div');
        paymentInfo.id = 'payment-info';
        paymentInfo.className = 'alert alert-info mt-3';
        paymentInfo.style.display = 'none';

        // Insert paymentInfo directly below the Payment Option select field
        const paymentFormGroup = paymentSelect.closest('.form-group');
        paymentFormGroup.appendChild(paymentInfo);

        // Store course data for quick lookup
        let courseData = {};
        {% for course in courses %}
            courseData["{{ course.id }}"] = {
                price: {{ course.price|floatformat:2 }},
                months: {{ course.months|default:1 }}
            };
        {% endfor %}

        function formatCurrency(amount) {
            return '₦' + Number(amount).toLocaleString('en-NG', {minimumFractionDigits: 2, maximumFractionDigits: 2});
        }

        function updatePaymentInfo() {
            const courseId = courseSelect.value;
            const paymentOption = paymentSelect.value;
            paymentInfo.innerHTML = '';
            paymentInfo.style.display = 'none';

            if (!courseId || !paymentOption) {
                return;
            }

            const course = courseData[courseId];
            if (!course) {
                paymentInfo.innerHTML = '<span style="color: #e74c3c;">Invalid course selection.</span>';
                paymentInfo.style.display = 'block';
                return;
            }

            const price = parseFloat(course.price);
            // Always get months from the selected course
            let months = parseInt(course.months);
            if (isNaN(months) || months <= 0) months = 1;

            if (paymentOption === 'Full Payment') {
                paymentInfo.innerHTML = `
                    <i class="fas fa-money-bill-wave"></i>
                    <strong>Full Payment:</strong> The total amount to be paid is <span style="color:#155724;">${formatCurrency(price)}</span>.
                `;
            } else if (paymentOption === '70% upfront and 30% later') {
                const upfront = price * 0.7;
                const later = price * 0.3;
                paymentInfo.innerHTML = `
                    <i class="fas fa-coins"></i>
                    <strong>70% Upfront, 30% Later:</strong><br>
                    Pay <span style="color:#155724;">${formatCurrency(upfront)}</span> now (70%)<br>
                    and <span style="color:#856404;">${formatCurrency(later)}</span> later (30%).
                `;
            } else if (paymentOption === 'Monthly Payment') {
                if (months <= 0) {
                    paymentInfo.innerHTML = '<span style="color: #e67e22;">Course duration not specified for monthly payment.</span>';
                } else {
                    const monthly = price / months;
                    paymentInfo.innerHTML = `
                        <i class="fas fa-calendar-alt"></i>
                        <strong>Monthly Payment:</strong><br>
                        Pay <span style="color:#155724;">${formatCurrency(monthly)}</span> per month for <strong>${months}</strong> month(s).<br>
                        <span>Total: ${formatCurrency(price)}</span>
                    `;
                }
            }
            paymentInfo.style.display = 'block';
        }

        courseSelect.addEventListener('change', updatePaymentInfo);
        paymentSelect.addEventListener('change', updatePaymentInfo);

        // SIWES Intern section show/hide logic
        traineeCategorySelect.addEventListener('change', function() {
            if (traineeCategorySelect.value === 'SIWES') {
                siwesSectionHead.style.display = 'block'
                siwesSection.style.display = 'block';
                siwesSection2.style.display = 'block';
                siwesSection3.style.display = 'block';
                siwesSection4.style.display = 'block';
            } else {
                siwesSection.style.display = 'none';
                siwesSection2.style.display = 'none';
                siwesSection3.style.display = 'none';
                siwesSection4.style.display = 'none';
            }
        });
        // On page load, check if SIWES is selected
        if (traineeCategorySelect.value === 'SIWES') {
            siwesSection.style.display = 'block';
        } else {
            siwesSection.style.display = 'none';
        }
    });
</script>
{% endif %}
{% endblock main_content %}

{% comment %} {% extends "base.html" %}
{% load static %}

{% block main_content %}
{% if request.user.user_type == "1" %}
<div class="page-header mb-4">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title"><i class="fas fa-user-edit me-2 text-primary"></i>Edit Trainee: <span class="text-dark">{{ trainee.trainee_name.first_name|capfirst }} {{ trainee.trainee_name.last_name|capfirst }}</span></h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'view_trainee' %}"><i class="fas fa-users me-1"></i>Trainees</a></li>
                <li class="breadcrumb-item active">Edit / {{ trainee.trainee_name.username|capfirst }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% include "includes/messages.html" %}
                    <div class="row g-4">
                        <div class="col-12">
                            <h5 class="form-title mb-3"><span class="text-primary"><i class="fas fa-id-card me-2"></i>Personal Details</span></h5>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="Edit First Name" value="{{ trainee.trainee_name.first_name|capfirst }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" name="middle_name" placeholder="Edit Middle Name" value="{{ trainee.trainee_name.middle_name|capfirst }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Edit Last Name" value="{{ trainee.trainee_name.last_name|capfirst }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Gender</label>
                                <select class="form-control form-select" name="gender" required>
                                    <option disabled selected hidden>Select Gender</option>
                                    <option value="Male" {% if trainee.gender == 'Male' %}selected{% endif %}>Male</option>
                                    <option value="Female" {% if trainee.gender == "Female" %}selected{% endif %}>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Mobile</label>
                                <input type="text" class="form-control" name="phone" placeholder="Edit Phone" value="{{ trainee.phone }}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Trainee Category</label>
                                <select name="category" class="form-control form-select" required>
                                    <option value="" disabled selected>Select Trainee Category</option>
                                    <option value="Regular">Regular Trainee</option>
                                    <option value="SIWES">SIWES Intern</option>
                                    <option value="Extern">Extern</option>
                                    <option value="Triptern">Triptern</option>
                                    <option value="Bootcamp">Bootcamp Kid</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Edit Username" value="{{ trainee.trainee_name.username|capfirst }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Edit Email" value="{{ trainee.trainee_name.email }}" required>
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <div class="form-group students-up-files">
                                <label>Current Profile Picture</label>
                                <div class="uplod mb-2">
                                    <img src="{{ trainee.trainee_name.profile_pic.url }}" alt="Profile Picture" class="img-thumbnail shadow-sm" style="width:120px;height:120px;object-fit:cover;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 text-center">
                            <div class="form-group students-up-files">
                                <label>Upload New Profile Picture <span class="text-muted">(150px X 150px)</span></label>
                                <div class="uplod">
                                    <label class="file-upload image-upbtn mb-0">
                                        <i class="fas fa-upload me-1"></i>Choose File <input type="file" accept="image/*" name="profile_pic">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12" id="select-siwes-head" style="display:none;">
                            <h5 class="form-title"><span>SIWES Details</span></h5>
                        </div>

                        <div class="col-12 col-sm-7" id="select-siwes-intern" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Name of School</label>
                                <input type="text" class="form-control" name="school_name" placeholder="Enter Name of School" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-5" id="select-siwes-intern2" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Course of Study</label>
                                <input type="text" class="form-control" name="course_of_study" placeholder="Enter Course of Study" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6" id="select-siwes-intern3" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Matric Number</label>
                                <input type="text" class="form-control" name="matric_number" placeholder="Enter Matric Number" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-5" id="select-siwes-intern4" style="display:none;">
                            <div class="form-group local-forms">
                                <label>Duration of Internship</label>
                                <input type="text" class="form-control" name="internship_duration" placeholder="Enter Duration of Internship" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <h5 class="form-title mb-3"><span class="text-primary"><i class="fas fa-map-marker-alt me-2"></i>Address</span></h5>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address" placeholder="Edit address" value="{{ trainee.address }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>City</label>
                                <input type="text" class="form-control" name="city" placeholder="Edit City" value="{{ trainee.city }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>State</label>
                                <input type="text" class="form-control" name="state" placeholder="Edit State" value="{{ trainee.state }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group local-forms">
                                <label>Country</label>
                                <input type="text" class="form-control" name="country" placeholder="Edit Country" value="{{ trainee.country }}">
                            </div>
                        </div>
                        <div class="col-12">
                            <h5 class="form-title mb-3"><span class="text-primary"><i class="fas fa-book-reader me-2"></i>Course Selection</span></h5>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group local-forms">
                                <label>Select a Course</label>
                                <select name="course" class="form-control form-select" required>
                                    <option value="" selected disabled>Select a Course you would love to Study</option>
                                    {% for course in courses %}
                                    <option value="{{ course.id }}"{% if trainee.course_id.id == course.id %}selected{% endif %}>{{ course.course_name }}  ------  ₦{{ course.price }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="student-submit text-center">
                                <button type="submit" class="btn btn-primary btn-lg px-5"><i class="fas fa-save me-2"></i>Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock main_content %} {% endcomment %}