{% extends "base.html" %}
{% load static %}

{% if request.user.user_type == "1" %}
{% block main_content %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Welcome {{ user.username|capfirst }}!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Admin Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "includes/messages.html" %}

{% endblock main_content %}
{% endif %}