{% extends "base.html" %}
{% load static %}

{% block main_content %}
{% if request.user.user_type == "1" %}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Trainer Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "view_trainer" %}">Trainer</a></li>
                    <li class="breadcrumb-item active">{{trainer.trainer_name.username|capfirst}}</li>
                    <li class="breadcrumb-item active">Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "includes/messages.html" %}
<div class="row">
    <div class="col-md-12">
        <div class="profile-header">
            <div class="row align-items-center">
                <div class="col-auto profile-image">
                    <a href="#">
                    <img class="rounded-circle" alt="User Image" src="{{trainer.trainer_name.profile_pic.url}}">
                    </a>
                </div>
                <div class="col ms-md-n2 profile-user-info">
                    <h4 class="user-name mb-0">{{ trainer.trainer_name.get_full_name }}</h4>
                    <h6 class="text-muted">{{ course.course_name }}</h6>
                    <div class="user-Location"><i class="fas fa-map-marker-alt"></i> {{ trainer.address }}</div>
                    </div>
                    <div class="col-auto profile-btn">
                        <a href="{% url "edit_trainer" trainer.trainer_name.username %}" class="btn btn-primary">
                            Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-menu">
                <ul class="nav nav-tabs nav-tabs-solid">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#per_details_tab">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#password_tab">Password</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content profile-tab-cont">
    
                <div class="tab-pane show active" id="per_details_tab">
    
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                    <span>Personal Details</span>
                                    </h5>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Name</p>
                                        <p class="col-sm-9">{{ trainer.trainer_name.first_name }} {{ trainer.trainer_name.middle_name }} {{ trainer.trainer_name.last_name }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Email ID</p>
                                        <p class="col-sm-9"><a href="mailto:{{trainer.trainer_name.email}}" class="__cf_email__" data-cfemail="{{trainer.trainer_name.email}}">{{ trainer.trainer_name.email|capfirst }}</a></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Mobile</p>
                                        <p class="col-sm-9"><a href="tel:{{ trainer.phone }}">{{ trainer.phone }}</a></p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Religion</p>
                                        <p class="col-sm-9">{{ trainer.religion }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Course Teaching</p>
                                        <p class="col-sm-9">
                                            {% if course %}
                                            {% for coursess in course %}
                                            {{ coursess.course_name }}<br>
                                            {% endfor %}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Experience</p>
                                        <p class="col-sm-9">{{ trainer.experience }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-end mb-0">Address</p>
                                        <p class="col-sm-9 mb-0">{{ trainer.address }},<br>
                                        {{ trainer.city }},<br>
                                        {{ trainer.state }},<br>
                                        {{ trainer.country }}.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                        
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                    <span>Account Status</span>
                                    </h5>
                                    {% if trainer.trainer_name.is_active == True %}
                                        <button class="btn btn-success" type="button"><i class="fas fa-check"></i>     Active</button>
                                    {% else %}
                                    <button class="btn btn-danger" type="button"><i class="fas fa-times"></i>      Not Active</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div id="password_tab" class="tab-pane">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Change Password</h5>
                                <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                <input disabled type="text" value="{{user.password}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="text" name="password1" required class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="text" name="password2" class="form-control">
                                            </div>
                                            <button class="btn btn-primary" type="submit">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>    
</div>
{% endif %}
{% endblock %}