{% extends "base.html" %}
{% load static %}

{% block main_content %}
{% if request.user.user_type == "1" %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Trainee Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "view_trainee" %}">Trainee</a></li>
                    <li class="breadcrumb-item active">{{trainee.trainee_name.username|capfirst}}</li>
                    <li class="breadcrumb-item active">Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "includes/messages.html" %}
<div class="row">
    <div class="col-md-12">
        <div class="profile-header">
            <div class="row align-items-center">
                <div class="col-auto profile-image">
                    <a href="#">
                    <img class="rounded-circle" alt="User Image" src="{{trainee.trainee_name.profile_pic.url}}">
                    </a>
                </div>
                <div class="col ms-md-n2 profile-user-info">
                    <h4 class="user-name mb-0">{{ trainee.trainee_name.get_full_name }}</h4>
                    <h6 class="text-muted">{{ trainee.course_id.course_name }}</h6>
                    <div class="user-Location"><i class="fas fa-map-marker-alt"></i> {{ trainee.address }}</div>
                </div>
                <div class="col-auto profile-btn">
                    <a href="{% url "edit_trainee" trainee.trainee_name.username %}" class="btn btn-primary">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="profile-menu">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified" id="traineeTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#bottom-justified-tab1" role="tab">Personal Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#bottom-justified-tab2" role="tab">Payment Plan and History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="messages-tab" data-bs-toggle="tab" href="#bottom-justified-tab3" role="tab">Trainee Progress</a>
                </li>
            </ul>
        </div>
        <div class="tab-content profile-tab-cont" id="traineeTabContent">
            <div class="tab-pane show active" id="bottom-justified-tab1" role="tabpanel">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-between">
                                <span>Personal Details</span>
                                </h5>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Name</p>
                                    <p class="col-sm-9">{{ trainee.trainee_name.first_name }} {{ trainee.trainee_name.middle_name }} {{ trainee.trainee_name.last_name }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Email ID</p>
                                    <p class="col-sm-9"><a href="mailto:{{trainee.trainee_name.email}}" class="__cf_email__" data-cfemail="{{trainee.trainee_name.email}}">{{ trainee.trainee_name.email|capfirst }}</a></p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Mobile</p>
                                    <p class="col-sm-9"><a href="tel:{{ trainee.phone }}">{{ trainee.phone }}</a></p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Gender</p>
                                    <p class="col-sm-9">{{ trainee.gender }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Trainee Category</p>
                                    <p class="col-sm-9">{{ trainee.category }}</p>
                                </div>
                                {% if trainee.category == 'SIWES' %}
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Name of School</p>
                                    <p class="col-sm-9">{{ trainee.name_of_school }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Course of Study</p>
                                    <p class="col-sm-9">{{ trainee.course_of_study }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Matric Number</p>
                                    <p class="col-sm-9">{{ trainee.matric_number }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Duration of Internship</p>
                                    <p class="col-sm-9">{{ trainee.duration_of_intership }}</p>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Course Studing</p>
                                    <p class="col-sm-9">{{ trainee.course_id.course_name }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0">Address</p>
                                    <p class="col-sm-9 mb-0">{{ trainee.address }},<br>
                                    {{ trainee.city }},<br>
                                    {{ trainee.state }},<br>
                                    {{ trainee.country }}.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-between">
                                <span>Account Status</span>
                                </h5>
                                {% if trainee.trainee_name.is_active == True %}
                                    <button class="btn btn-success" type="button"><i class="fas fa-check"></i>     Active</button>
                                {% else %}
                                <button class="btn btn-danger" type="button"><i class="fas fa-times"></i>      Not Active</button>
                                {% endif %}
                                <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">If account is active do you want to deactivate</p>
                                {% if trainee.trainee_name.is_active == True %}
                                    <a href="#"><button class="btn btn-danger" type="button"><i class="fas fa-times"></i>      Deactivate</button></a>
                                {% else %}
                                <a href="#"><button class="btn btn-success" type="button"><i class="fas fa-check"></i>     Activate</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="bottom-justified-tab2" role="tabpanel">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Payment Plan</h5>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Plan</p>
                                    <p class="col-sm-9">{{ trainee.payment_option }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Total Fee</p>
                                    <p class="col-sm-9">{{ trainee.course_id.price }} --- {{ trainee.course_id.course_name }}</p>
                                </div>
                                {% if trainee.payment_option == "Monthly Payment" %}
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Amount to be paid Monthly</p>
                                    <p class="col-sm-9">{{ monthly }}</p>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Amount Paid</p>
                                    <p class="col-sm-9">{{ trainee.amount_paid }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Amount Remaining</p>
                                    <p class="col-sm-9">{{ remaining }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="bottom-justified-tab3" role="tabpanel">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Messages</h5>
                                <p>No messages available.</p>
                                <!-- Add your messages content here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock main_content %}