{% extends "base.html" %}
{% block main_content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title"><i class="fas fa-unlock-alt me-2 text-primary"></i>Change Password</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Settings</a></li> 
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card shadow-lg border-0">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "includes/messages.html" %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Change Password</span></h5>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="form-group local-forms">
                                <label>Current Password</label>
                                <input type="text" name="current_password" class="form-control" placeholder="Enter Current Password" required />
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="form-group local-forms">
                                <label>New Password</label>
                                <input type="text" name="new_password" class="form-control" placeholder="Enter New Password" required />
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="form-group local-forms">
                                <label>Confirm Password</label>
                                <input type="text" name="confirm_password" class="form-control" placeholder="Confirm Password" required />
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}