{% extends "base.html" %}
{% load static %}

{% block main_content %}


<div class="page-header">
   <div class="row">
   <div class="col-sm-12">
   <div class="page-sub-header">
   <h3 class="page-title">
      {% if request.user.user_type == "1" %}
      Admin 
      {% elif request.user.user_type == "2" %}
      Trainer
      {% else %}
      Trainee
      {% endif %} Details
   </h3>
   <ul class="breadcrumb">
   <li class="breadcrumb-item">
      <a href="#">
      {% if request.user.user_type == "1" %}
      Admin 
      {% elif request.user.user_type == "2" %}
      Trainer
      {% else %}
      Trainee
      {% endif %} Details</a>
   </li>
   <li class="breadcrumb-item active">
      {% if request.user.user_type == "1" %}
      Admin 
      {% elif request.user.user_type == "2" %}
      Trainer
      {% else %}
      Trainee
      {% endif %} Details</li>
   </ul>
   </div>
   </div>
   </div>
   </div>
   <div class="card">
   <div class="card-body">
   <div class="row">
   <div class="col-md-12">
   <div class="about-info">
   <h4>Profile <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h4>
   </div>
   <div class="student-profile-head">
   <div class="profile-bg-img">
   {% comment %} <img class="img-fluid avatar-md rounded" src="{% static 'assets/img/roothub.jpg'%}" alt="Profile"> {% endcomment %}
   </div>
   <div class="row">
   <div class="col-lg-4 col-md-4">
   <div class="profile-user-box">
   <div class="profile-user-img">
   <img src="{{ user.profile_pic.url }}" alt="Profile">
   <div class="form-group students-up-files profile-edit-icon mb-0">
   <div class="uplod d-flex">
   <label class="file-upload profile-upbtn mb-0">
   <i class="feather-edit-3"></i><input type="file">
   </label>
   </div>
   </div>
   </div>
   <div class="names-profiles col-lg-7">
   <h4>
      {% if user.first_name %}
      {{ user.first_name }} {{ user.last_name }}
      {% else %}
      {{user.username}}
      {% endif %}
   </h4>
   <h5>
      {% if request.user.user_type == "1" %}
      Admin
      {% elif request.user.user_type == "2" %}
         {% if trainer_content.courses_for_trainer %}
         {% for course in trainer_content.courses_for_trainer %}
         {{ course.coursess.course_name}}<br>
         {% endfor %}
         {% else %}
         <h5 style="color: rgb(217, 11, 11);font-size: 17px;">No Course has been <br> assigned to you to teach</h5>
         {% endif %}
      {% else %}
      {{ trainee_content.courses_for_trainer }}
      {% endif %}
   </h5>
   </div>
   </div>
   </div>
   <div class="col-lg-4 col-md-4 d-flex align-items-center">
   {% if request.user.user_type == "1" %}
   <div class="follow-group">
   <div class="students-follows">
   <h5>Total Course</h5>
   <h4>{{ total_course }}</h4>
   </div>
   <div class="students-follows">
   <h5>Total Trainers</h5>
   <h4>{{ total_trainer }}</h4>
   </div>
   <div class="students-follows">
   <h5>Total Trainees</h5>
   <h4>{{ total_trainee }}</h4>
   </div>
   </div>
   {% endif %}
   </div>
   <div class="col-lg-4 col-md-4 d-flex align-items-center">
   <div class="follow-btn-group">
   {% if request.user.user_type == "1" %}
   <a href="#"><button type="submit" class="btn btn-info follow-btns">Update</button></a>
   {% else %}
   <a href="#" data-url="{% url 'profile' %}"><button type="button" class="btn btn-info follow-btns basic-alert">Update</button></a>
   {% endif %}
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   <div class="row">
   <div class="col-lg-4">
   <div class="student-personals-grp">
   <div class="card">
   <div class="card-body">
   <div class="heading-detail">
   <h4>Personal Details :</h4>
   </div>
   <div class="personal-activity">
   <div class="personal-icons">
   <i class="feather-user"></i>
   </div>
   <div class="views-personal">
   <h4>Name</h4>
   <h5>
      {% if user.first_name %}
      {{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</h5>
      {% else %}
      {{ user.username|capfirst }}
      {% endif %}
   </div>
   </div>
   <div class="personal-activity">
   <div class="personal-icons">
   <i class="feather-user"></i>
   </div>
   <div class="views-personal">
   <h4>Username</h4>
   <h5>
      {{ user.username|capfirst }}
   </div>
   </div>
   <div class="personal-activity">
   <div class="personal-icons">
   <img src="static/assets/img/icons/buliding-icon.svg" alt="">
   </div>
   <div class="views-personal">
   <h4>Course </h4>
   <h5>
      {% if request.user.user_type == "2" %}
      {% if trainer_content.courses_for_trainer %}
      {% for course_num in trainer_content.courses_for_trainer %}
      {{ course_num.coursess.course_name }}<br>
      {% endfor %}
      {% endif %}
      {% elif request.user.user_type == "3" %}
      {{ trainee_content.courses_for_trainer }}
      {% endif %}
   </h5>
   </div>
   </div>
   <div class="personal-activity">
   <div class="personal-icons">
   <i class="feather-phone-call"></i>
   </div>
   <div class="views-personal">
   <h4>Mobile</h4>
   {% if request.user.user_type == "2" %}
   <h5>{{ trainer_content.user_all.phone }}</h5>
   {% else %}
   <h5>{{ trainee_content.user_all.phone }}</h5>
   {% endif %}
   </div>
   </div>
   <div class="personal-activity">
   <div class="personal-icons">
   <i class="feather-mail"></i>
   </div>
   <div class="views-personal">
   <h4>Email</h4>
   <h5><a href="mailto:{{ user.email }}" class="__cf_email__" data-cfemail="{{ user.email }}">{{ user.email|capfirst }}</a></h5>
   </div>
   </div>
   <div class="personal-activity">
   <div class="personal-icons">
   <i class="feather-user"></i>
   </div>
   <div class="views-personal">
   <h4>Gender</h4>
   {% if request.user.user_type == "2" %}
   <h5>{{ trainer_content.user_all.gender }}</h5>
   {% else %}
   <h5>{{ trainee_content.user_all.gender }}</h5>
   {% endif %}
   </div>
   </div>
   {% if request.user.user_type == "2" %}
   <div class="personal-activity">
      <div class="personal-icons">
      <i class="feather-user"></i>
      </div>
      <div class="views-personal">
      <h4>Experience</h4>
      {% if request.user.user_type == "2" %}
      <h5>{{ trainer_content.user_all.experience }}</h5>
      {% else %}
      <h5>{{ trainee_content.user_all.experience }}</h5>
      {% endif %}
      </div>
   </div>
   {% endif %}

   <div class="personal-activity mb-0">
   <div class="personal-icons">
   <i class="feather-map-pin"></i>
   </div>
   <div class="views-personal">
   <h4>Address</h4>
   {% if request.user.user_type == "2" %}
   <h5>{{ trainer_content.user_all.address }}</h5>
   {% else %}
   <h5>{{ trainee_content.user_all.address }}</h5>
   {% endif %}
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   <div class="col-lg-8">
   <div class="student-personals-grp">
   <div class="card mb-0">
   <div class="card-body">
   <div class="heading-detail">
   <center><strong>
      <h4>About {{ schoolname }}</h4>
   </strong></center>
   </div>
   <div class="skill-blk">
   <div class="skill-statistics">
   {{ ABOUT_SCHOOL }}
   </div>
   <div class="skill-statistics">
   <hr style="margin: 15px 0;">
   <center>
      <p><strong>Location:</strong> {{ SCHOOL_LOCATION }}</p>
      <p><strong>Contact:</strong> <a href="tel:{{ SCHOOL_NUM1 }}">{{ SCHOOL_NUM1 }}</a> or <a href="tel:{{ SCHOOL_NUM2 }}">{{ SCHOOL_NUM2 }}</a></p>
      <p><strong>Slogan:</strong><em> {{ SCHOOL_SLOGAN }}</em></p>
      <p><strong>Website:</strong><a href="{{ SCHOOL_WEB }}" target="_blank"> {{ SCHOOL_WEB|capfirst}}</a></p>  
   </center>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   {% comment %} <div class="col-lg-8">
   <div class="student-personals-grp">
   <div class="card mb-0">
   <div class="card-body">
   <div class="heading-detail">
   <h4>About Me</h4>
   </div>
   <div class="hello-park">
   <h5>Hello I am Daisy Parks</h5>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur officia deserunt mollit anim id est laborum.</p>
   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
   </div>
   <div class="hello-park">
   <h5>Education</h5>
   <div class="educate-year">
   <h6>2008 - 2009</h6>
   <p>Secondary Schooling at xyz school of secondary education, Mumbai.</p>
   </div>
   <div class="educate-year">
   <h6>2011 - 2012</h6>
   <p>Higher Secondary Schooling at xyz school of higher secondary education, Mumbai.</p>
   </div>
   <div class="educate-year">
   <h6>2012 - 2015</h6>
   <p>Bachelor of Science at Abc College of Art and Science, Chennai.</p>
   </div>
   <div class="educate-year">
   <h6>2015 - 2017</h6>
   <p class="mb-0">Master of Science at Cdm College of Engineering and Technology, Pune.</p>
   </div>
   </div>
   </div>
   </div>
   </div> {% endcomment %}
   </div>
   </div>
   </div>
   </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   document.addEventListener("DOMContentLoaded", function(){
      const basicAlert = document.querySelectorAll(".basic-alert");

      basicAlert.forEach(function(button){
         button.addEventListener("click", function(e){
            e.preventDefault();
            const url = this.getAttribute("data-url");
            Swal.fire({
               title: "Contact your Administrator if there's any issue in your Profile",
               icon: 'info',
               confirmButtonColor: '#3085d6',
               confirmButtonText: 'Okay'
            })
         });
      });
   })
</script>
{% endblock main_content %}
